<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="httpBehavior">
          <webHttp automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    
    <services>
      <service name="HomePLC.RemoteService">
        <endpoint address="" behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="HomePLC.RemoteService.IService" />
      </service>
    </services>
    
  </system.serviceModel>

</configuration>
